Projektrahmen/Teilprojektspezifisches/Simulation/Flow_29.02.2020.txt
[
    {
        "id": "ef746637.8e6288",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "959dfc43.8dab5",
        "type": "tab",
        "label": "Simulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "921bc19d.c8733",
        "type": "tab",
        "label": "Tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd038d25.c9f7e",
        "type": "tab",
        "label": "Fahrzeug1_Cockpit",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb586813.dca0d8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 2,
                "py": 0
            }
        }
    },
    {
        "id": "c07be590.fcab68",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto_lokal",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "29a8b64c.103cfa",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Error: node-Red started",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "willTopic": "Error: node-Red lost",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "acc64fde.6c13c",
        "type": "ui_tab",
        "z": "",
        "name": "Fahrzeug1_Cockpit",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ae3148b0.53c498",
        "type": "ui_group",
        "z": "",
        "name": "Fahrbereit",
        "tab": "64e8b770.132f38",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ce5f44b.5e2bdc",
        "type": "ui_group",
        "z": "",
        "name": "Fahrzeugsimulation",
        "tab": "acc64fde.6c13c",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "64e8b770.132f38",
        "type": "ui_tab",
        "z": "",
        "name": "Allgemein",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf6b21ce.48f08",
        "type": "file in",
        "z": "ef746637.8e6288",
        "name": "",
        "filename": "/home/pi/Desktop/trackLog.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "3be1b4b3.1935fc"
            ]
        ]
    },
    {
        "id": "3be1b4b3.1935fc",
        "type": "csv",
        "z": "ef746637.8e6288",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "8f736252.aad2a"
            ]
        ]
    },
    {
        "id": "e9a14a7.01426b8",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "d49550b1.19bdb",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "cf6b21ce.48f08"
            ]
        ]
    },
    {
        "id": "8f736252.aad2a",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "\nvar ausgabe = {payload: msg.payload[0]};\nreturn ausgabe;",
        "outputs": 1,
        "noerr": 2,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "e9a14a7.01426b8"
            ]
        ]
    },
    {
        "id": "877b9e12.4ba3f",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "d7359f8a.f1c8d",
        "type": "LCD20x4-I2C",
        "z": "ef746637.8e6288",
        "name": "",
        "speed": "3",
        "size": "20x4",
        "address": "0x27",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "6fe0d818.8f3b38",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "test",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "ca59a084.d9234"
            ]
        ]
    },
    {
        "id": "ca59a084.d9234",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "msg.payload = {\n    msgs: [\n        {\n            msg: \"Du\",\n            pos: 1,\n            center: true\n        },\n        {\n            msg: \"Opfer\",\n            pos: 1,\n            center: false\n        }]}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "d7359f8a.f1c8d",
                "1acf4048.53c62"
            ]
        ]
    },
    {
        "id": "f61e8827.05be48",
        "type": "comment",
        "z": "ef746637.8e6288",
        "name": "I2C LCD",
        "info": "Test fürs LCD",
        "x": 160,
        "y": 200,
        "wires": []
    },
    {
        "id": "90d42870.f1dbf8",
        "type": "comment",
        "z": "ef746637.8e6288",
        "name": "Taster",
        "info": "Test fürn Taster",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "6e61e98c.d40c68",
        "type": "comment",
        "z": "ef746637.8e6288",
        "name": "CSV einlesen",
        "info": "CSV wird eingelesen (liegt am Desktop)\n",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "1acf4048.53c62",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "c8eaa9ab.3e9188",
        "type": "file in",
        "z": "959dfc43.8dab5",
        "name": "",
        "filename": "/home/pi/Desktop/trackLog.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "eabd056e.f2be68"
            ]
        ]
    },
    {
        "id": "f0cdbb44.46a5c8",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c8eaa9ab.3e9188"
            ]
        ]
    },
    {
        "id": "eabd056e.f2be68",
        "type": "csv",
        "z": "959dfc43.8dab5",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "f5523391.7689e"
            ]
        ]
    },
    {
        "id": "276845ee.61307a",
        "type": "ui_slider",
        "z": "959dfc43.8dab5",
        "name": "",
        "label": "Insassen",
        "tooltip": "",
        "group": "ae3148b0.53c498",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "5",
        "step": 1,
        "x": 120,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4a37b5a.51aff4c",
        "type": "ui_switch",
        "z": "959dfc43.8dab5",
        "name": "",
        "label": "Fahrbereit",
        "tooltip": "",
        "group": "ae3148b0.53c498",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "2398da0b.06eb66"
            ]
        ]
    },
    {
        "id": "2398da0b.06eb66",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Fahrbereit setzen",
        "func": "global.set(\"Fahrzeug1Bereit\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "45eefbb1.069914",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Insassen setzen",
        "func": "global.set(\"Fahrzeug1Driver\", msg.payload);\nglobal.set(\"Fahrzeug1CoDriver\", msg.payload);\nglobal.set(\"Fahrzeug1BL\", msg.payload);\nglobal.set(\"Fahrzeug1BM\", msg.payload);\nglobal.set(\"Fahrzeug1BR\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "7a560413.190c2c",
        "type": "ui_button",
        "z": "959dfc43.8dab5",
        "name": "",
        "group": "ae3148b0.53c498",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Error 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Errorcode 1",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "f7d1c609.8c78e8"
            ]
        ]
    },
    {
        "id": "ad8ea817.aa2d28",
        "type": "ui_button",
        "z": "959dfc43.8dab5",
        "name": "",
        "group": "ae3148b0.53c498",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Error 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Errorcode 2",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "f7d1c609.8c78e8"
            ]
        ]
    },
    {
        "id": "39a2abf0.9189d4",
        "type": "ui_button",
        "z": "959dfc43.8dab5",
        "name": "",
        "group": "ae3148b0.53c498",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Error 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Errorcode 3",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "f7d1c609.8c78e8"
            ]
        ]
    },
    {
        "id": "f7d1c609.8c78e8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Errorcode setzen",
        "func": "global.set(\"Fahrzeug1Error\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad78100.31c65",
        "type": "ui_slider",
        "z": "959dfc43.8dab5",
        "name": "",
        "label": "G Kräfte",
        "tooltip": "",
        "group": "ae3148b0.53c498",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "10",
        "step": 1,
        "x": 120,
        "y": 940,
        "wires": [
            [
                "923739c4.6ee2d8"
            ]
        ]
    },
    {
        "id": "57d48161.d1c85",
        "type": "ui_slider",
        "z": "959dfc43.8dab5",
        "name": "",
        "label": "Kühlmitteltemperatur",
        "tooltip": "",
        "group": "ae3148b0.53c498",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "1000",
        "step": 1,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "ecd93dbd.6a734"
            ]
        ]
    },
    {
        "id": "923739c4.6ee2d8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Veränderung G Kräfte",
        "func": "global.set(\"Fahrzeug1G\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "ecd93dbd.6a734",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Veränderung Kühlmitteltemperatur",
        "func": "global.set(\"Fahrzeug1Kuehlmittel\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "3ffe35d1.6be1ca",
        "type": "comment",
        "z": "959dfc43.8dab5",
        "name": "Fortschritte",
        "info": "19.01.2020\n\n-  CSV einlesen, aufteilen, eine Nachricht pro      Sekunde ausgeben\n-  Funktion \"Umwandlung\" erstellt. Alle Werte aus   einer Zeile werden eingelesen und in eigene, neue Variablen geschrieben\n-  Timestamp aus CSV wird durch aktuellen Timestamp ersetzt\n- Neues Objekt wird ausgegeben\n\n====================================================\n\n25. / 26.01.2020\n\n- Manuelle Manipulation von Werten implementiert\n    - G Kräfte\n    - Kühlmitteltemperatur\n    - Runden auf zwei Nachkommastellen getestet und eingebaut (.toFixed(2))\n    - nun werden alle Zahlen als Strings ausgegeben\n- eigene Variablen integriert\n    - Fahrbereitschaft\n    - Insassen\n    - Errorcodes\n- Ausgabe nun mit Originalwerten, Wert der Veränderung, neue, manipulierte Werte\n- Umrechnung von Temperaturwerten von ° F in ° C\n\n====================================================\n\n28.01.2020\n\n- Versuch, den \"Begrenzungsblock\" zu pausieren\n- Im Internet gesucht, ein paar Lösungsansätze ausprobiert\n- Leider ohne Erfolg\n- Test + Quelle dazu in Flow \"Tests\"\n\n====================================================\n\n29.01.2020\n- Umwandlung aller gerundeten Strings in Float Zahlen mit der Methode parseFloat()\n- Eigenen Begrenzungsblock geschrieben:\n    CSV wird in globales Feld geschrieben\n    Variable \"Fahrbereit\" wird genutzt, um über automatischen Trigger Zeilen zur Weiterverarbeitung auszugeben\n    Manuellen Trigger eingefügt\n- Variablen / Payloads in Umwandlungsblock angepasst \n\n====================================================\n\n09.02.2020\n- Fahrzeugcockpit erstellt\n- Anzeigen für RPM, Tankfüllung und Geschwindigkeit eingefügt\n- Textfeld für Meldungen eingefügt (Meldungen über MQTT)\n\n====================================================\n\n10.02.2020\n- Erste Verbindung mit Controller und GUI hergestellt\n- Namen der Variablen in JSON Datei festgelegt und geprüft\n- Vin Variable eingefügt (Vehicle Idenfitication Number)\n- Verbindung geprüft\n- Unfallfunktion (Airbag) eingefügt und getestet \n--> Fahrzeug setzt \"Airbag ausgelöst\", Fahrbereitschaft wird auf false gesetzt und es muss manuell wieder gestartet werden\n- Meldungen über MQTT von GUI können empfangen und ausgegeben werden\n- Verdrahtungsplan für Raspberry erstellt (Hardware wird eingefügt)\n\n\n====================================================\n\n22. / 23.02.2020\n\n- Fahrzeug gebaut -> Schablone besorgt und Fahrzeug aus Holz \n  ausgesägt. Bauteile angebracht\n\n====================================================\n\n24.02.2020\n\n- Drehwinkelgeber in Betrieb genommen, Funktion zum Auslesen der Drehrichtung und Erhöhen von Werten (Kühlmitteltemperatur) implementiert.\n- Schalter (Fahrzeuginsassen), Drähte aufgelötet und getestet\n\n\n====================================================\n\n26. - 29.02.2020\n\n- Planung + Aufbau der finalen Simulationshardware\n- Anpassung + hinzufügen von Werten für die GUI (Insassen)\n- KM Stand hinzugefügt\n- Hardwaretest mit GUI\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "f68529f8.27ac78",
        "type": "file in",
        "z": "921bc19d.c8733",
        "name": "",
        "filename": "/home/pi/Desktop/trackLog5zeilen.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "92bcffdc.5ad35"
            ]
        ]
    },
    {
        "id": "7665d078.a6987",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "f68529f8.27ac78"
            ]
        ]
    },
    {
        "id": "8366d010.3d5c2",
        "type": "split",
        "z": "921bc19d.c8733",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 720,
        "y": 100,
        "wires": [
            [
                "c890ace6.7dc97"
            ]
        ]
    },
    {
        "id": "c890ace6.7dc97",
        "type": "delay",
        "z": "921bc19d.c8733",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "6d91ec69.f14af4"
            ]
        ]
    },
    {
        "id": "4b8b3255.a6328c",
        "type": "function",
        "z": "921bc19d.c8733",
        "name": "Umwandlung",
        "func": "// Einlesen der Werte aus CSV und speichern\n// in eigenen Variablen\n\nvar Zeit = msg.payload[\"GPS Time\"];\nvar Geraetezeit = msg.payload[\"Device Time\"];\nvar Longitude = msg.payload.Longitude;\nvar Latitude = msg.payload.Latitude;\nvar GPSGeschwindigkeit = msg.payload[\"GPS Speed(km/h)\"];\nvar HorizDiluofPreci = msg.payload[\"Horizontal Dilution of Precision\"];\nvar Altitude = msg.payload[\"Altitude(m)\"];\nvar Bearing = msg.payload.Bearing;\nvar Gravity_X = msg.payload[\"Gravity X(G)\"];\nvar Gravity_Y = msg.payload[\"Gravity Y(G)\"];\nvar Gravity_Z = msg.payload[\"Gravity Z(G)\"];\nvar EGR = msg.payload[\"EGR Commanded(%)\"];\nvar Lambda = msg.payload[\"Commanded Equivalence Ratio(lambda)\"];\nvar CO = msg.payload[\"CO₂ in g/km (Instantaneous)(g/km)\"];\nvar MassAirFlowRate = msg.payload[\"Mass Air Flow Rate(g/s)\"];\nvar Geschwindigkeit = msg.payload[\"Speed (OBD)(km/h)\"];\nvar TransmissionTemperature = msg.payload[\"Transmission Temperature(Method 1)(°F)\"];\nvar GPSLatitude = msg.payload[\"GPS Latitude(°)\"];\nvar GPSLongitude = msg.payload[\"GPS Longitude(°)\"];\nvar KuehlmitteltemperaturF = msg.payload[\"Engine Coolant Temperature(°F)\"];\nvar Motorlast = msg.payload[\"Engine Load(%)\"];\nvar MotorlastAbsolut = msg.payload[\"Engine Load(Absolute)(%)\"];\nvar o2Sensor1 = msg.payload[\"O2 Sensor1 wide-range Voltage\"];\nvar o2Sensor2 = msg.payload[\"O2 Sensor1 Equivalence Ratio\"];\nvar Gaspedalstellung = msg.payload[\"Accelerator PedalPosition D(%)\"];\nvar RelativeGaspedalstellung = msg.payload[\"Relative Accelerator Pedal Position(%)\"];\nvar Saugrohrdruck = msg.payload[\"Intake Manifold Pressure(kpa)\"];\nvar Batteriespannung = msg.payload[\"Voltage (Control Module)(V)\"];\nvar Benzinstand = msg.payload[\"Fuel Level (From Engine ECU)(%)\"];\nvar ActualEngineTorque = msg.payload[\"Actual engine % torque(%)\"];\nvar AnsauglufttemperaturF = msg.payload[\"Intake Air Temperature(°F)\"];\nvar Kraftstoffdurchflussmenge = msg.payload[\"Fuel flow rate/minute(cc/min)\"];\nvar Boost = msg.payload[\"Turbo Boost & Vacuum Gauge(bar)\"];\nvar Motordrehzahl = msg.payload[\"Engine RPM(rpm)\"];\nvar UmgebungstemperaturF = msg.payload[\"Ambient air temp(°F)\"];\n\n\n////////////////////////////////////////////\n// Selbst eingefügte Werte\n////////////////////////////////////////////\n\nvar Insassen = global.get (\"Fahrzeug1Insassen\");\nvar Errorcode = global.get (\"Fahrzeug1Error\");\nvar Bereit = global.get (\"Fahrzeug1Bereit\");\nvar GravMod = global.get(\"Fahrzeug1G\");\nvar KuehlMod = global.get(\"Fahrzeug1Kuehlmittel\");\n\n\n////////////////////////////////////////////\n// Umrechnungen\n////////////////////////////////////////////\n\n// Umrechnung Kühlmitteltemperatur von ° F in ° C\nvar Kuehlmitteltemperatur = (KuehlmitteltemperaturF - 32) / 1.8;\n\n// Umrechnung Ansauglufttemperatur von ° F in ° C\nvar Ansauglufttemperatur = (AnsauglufttemperaturF - 32) / 1.8;\n\n// Umrechnung Umgebungstemperatur von ° F in ° C\nvar Umgebungstemperatur = (UmgebungstemperaturF - 32) / 1.8;\n\n// Ersetzt die aus der CSV eingelesene Uhrzeit\n// durch die aktuelle Zeit\n\n\n\n////////////////////////////////////////////\n// Manuelle Änderung von Werten\n////////////////////////////////////////////\n\nvar Gravity_XMod = Gravity_X + GravMod;\nvar Gravity_YMod = Gravity_Y + GravMod;\nvar Gravity_ZMod = Gravity_Z + GravMod;\nvar KuehlmitteltemperaturMod = Kuehlmitteltemperatur + KuehlMod;\n\nvar ZeitAktuell = new Date();\n//msg.payload = ZeitAktuell;\n\n// Datumsformatierung Papa\nvar dtString= ZeitAktuell.getDate()+\".\"+\n                (ZeitAktuell.getMonth()<9?\"0\":\"\")+\n                (1+ZeitAktuell.getMonth())+\".\"+\n                ZeitAktuell.getFullYear()+\" \"+ \n                ZeitAktuell.getHours()+\":\"+\n                (ZeitAktuell)+\n                ZeitAktuell.getMinutes()+\":\"+\n                (ZeitAktuell.getSeconds()<10?\"0\":\"\")+\n                ZeitAktuell.getSeconds();\n\n\n////////////////////////////////////////////\n// Fertiges Objekt Rohdaten, was wieder \n// rausgeschickt wird\n////////////////////////////////////////////\n\nvar Fertig = {\n    \"payload\": {\n        \"GPS Zeit\": dtString,\n        \"Laengengrad\": Longitude,\n        \"Breitengrad\": Latitude,\n        \"Hoehe über Meeresspiegel\": Altitude,\n        \"Horizontale Praezisionsverdünnung\": HorizDiluofPreci,\n        \"Bearing / Lager\": Bearing,\n        \"G Kraft in X Richtung\": Gravity_X,\n        \"G Kraft in Y Richtung\": Gravity_Y,\n        \"G Kraft in Z Richtung\": Gravity_Z,\n        \"G Modifizierung\": GravMod,\n        \"G Kraft X modifiziert\": Gravity_XMod,\n        \"G Kraft Y modifiziert\": Gravity_YMod,\n        \"G Kraft Z modifiziert\": Gravity_ZMod,\n        \"Befohlenes Aequivalenzverhaeltnis\": Lambda,\n        \"CO2 Ausstoss\": CO,\n        \"Luftmassenstrom\": MassAirFlowRate,\n        \"Geschwindigkeit\": Geschwindigkeit,\n        \"Kuehlmitteltemperatur in C\": Kuehlmitteltemperatur,\n        \"Kuehlmittel Modifizierung\": KuehlMod,\n        \"Kuehlmittel modifiziert\": KuehlmitteltemperaturMod,\n        \"Motorlast Prozent\": Motorlast,\n        \"Batteriespannung\": Batteriespannung,\n        \"Tankfuellung\": Benzinstand,\n        \"Ansauglufttemperatur in C\": Ansauglufttemperatur,\n        \"Motordrehzahl\": Motordrehzahl,\n        \"Umgebungstemperatur\": Umgebungstemperatur,\n        \"Anzahl Insassen\": Insassen,\n        \"Errorcode\": Errorcode,\n        \"Fahrbereit\": Bereit\n    }\n}\n\nreturn Fertig;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "b5a38347.9f4f9"
            ]
        ]
    },
    {
        "id": "b5a38347.9f4f9",
        "type": "debug",
        "z": "921bc19d.c8733",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "92bcffdc.5ad35",
        "type": "csv",
        "z": "921bc19d.c8733",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "8366d010.3d5c2"
            ]
        ]
    },
    {
        "id": "3cf7471c.967b18",
        "type": "delay",
        "z": "921bc19d.c8733",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "4b8b3255.a6328c"
            ]
        ]
    },
    {
        "id": "b960893e.8f0668",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "delay",
        "payload": "2000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "6d91ec69.f14af4"
            ]
        ]
    },
    {
        "id": "6d91ec69.f14af4",
        "type": "join",
        "z": "921bc19d.c8733",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "20ed7c00.797374"
            ]
        ]
    },
    {
        "id": "5b6606aa.00e868",
        "type": "change",
        "z": "921bc19d.c8733",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.delay",
                "pt": "msg",
                "to": "delay",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 413,
        "wires": [
            [
                "3cf7471c.967b18"
            ]
        ]
    },
    {
        "id": "20ed7c00.797374",
        "type": "switch",
        "z": "921bc19d.c8733",
        "name": "Pass value msgs",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "value",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "5b6606aa.00e868"
            ]
        ]
    },
    {
        "id": "2c5d652f.8456ca",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "delay",
        "payload": "3000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 161,
        "y": 358,
        "wires": [
            [
                "6d91ec69.f14af4"
            ]
        ]
    },
    {
        "id": "e8eb0f00.7ab2d",
        "type": "comment",
        "z": "921bc19d.c8733",
        "name": "Testflow aus dem Internet",
        "info": "28.01.2020\nhttps://discourse.nodered.org/t/the-delay-node-not-doing-what-i-want/854/5\n\nBeitrag von Colin, 05.06.2018\n",
        "x": 130,
        "y": 600,
        "wires": []
    },
    {
        "id": "631884ae.22935c",
        "type": "delay",
        "z": "921bc19d.c8733",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 780,
        "wires": [
            [
                "9e989b33.fc5348"
            ]
        ]
    },
    {
        "id": "6ee5ff8b.45f16",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "delay",
        "payload": "2000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 272,
        "y": 688,
        "wires": [
            [
                "d4c2ab06.820d08"
            ]
        ]
    },
    {
        "id": "706765ef.436afc",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "value",
        "payload": "Banana",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 279,
        "y": 801,
        "wires": [
            [
                "d4c2ab06.820d08"
            ]
        ]
    },
    {
        "id": "d4c2ab06.820d08",
        "type": "join",
        "z": "921bc19d.c8733",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 443,
        "y": 731,
        "wires": [
            [
                "9e36edc.6027f1"
            ]
        ]
    },
    {
        "id": "5f550b15.ded734",
        "type": "change",
        "z": "921bc19d.c8733",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.delay",
                "pt": "msg",
                "to": "delay",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 572,
        "y": 781,
        "wires": [
            [
                "631884ae.22935c"
            ]
        ]
    },
    {
        "id": "9e36edc.6027f1",
        "type": "switch",
        "z": "921bc19d.c8733",
        "name": "Pass value msgs",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "value",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 612,
        "y": 731,
        "wires": [
            [
                "5f550b15.ded734"
            ]
        ]
    },
    {
        "id": "3480620f.75a2be",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "delay",
        "payload": "3000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 273,
        "y": 726,
        "wires": [
            [
                "d4c2ab06.820d08"
            ]
        ]
    },
    {
        "id": "9e989b33.fc5348",
        "type": "debug",
        "z": "921bc19d.c8733",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 751,
        "y": 834,
        "wires": []
    },
    {
        "id": "f5523391.7689e",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Werte aus CSV kontrolliert ausgeben",
        "func": "\n\nif ((msg.payload == \"next\") || (msg.payload == \"autoNext\"))\n{\n    var fb = global.get(\"Fahrzeug1Bereit\");\n    if ((fb === false) && (msg.payload == \"autoNext\"))\n    {\n        return (null);\n    }\n    var aktuelCounter = global.get(\"Feld1Counter\");\n    var aktuelleDaten = global.get(\"Feld1\");\n    \n    var maxCount = aktuelleDaten.length;\n    if (maxCount == aktuelCounter)\n    {\n        node.status({text:\"Alle Werte ausgegeben!\"});\n        return NULL;\n    }\n    var ret = aktuelleDaten[aktuelCounter];\n    aktuelCounter = aktuelCounter +1;\n    node.status({text:\"Wert \"+ aktuelCounter.toString() + \" von \" + maxCount.toString() + \" ausgegeben\"});\n    global.set(\"Feld1Counter\",aktuelCounter);\n    // gebe nächstes Element aus\n    return [ret];\n}\n\nvar werte  = msg.payload;\n// neues array mit Nutzdaten\nglobal.set(\"Feld1\",werte);\nglobal.set(\"Feld1Counter\",0);\nnode.status({text:\"neue Werte geladen\"});\n\nreturn (null);\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "954969cf.dabe48"
            ],
            []
        ]
    },
    {
        "id": "3d93bc65.706724",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "ddbc8bf7.0b7878"
            ]
        ]
    },
    {
        "id": "ddbc8bf7.0b7878",
        "type": "function",
        "z": "921bc19d.c8733",
        "name": "",
        "func": "var msg1 = { payload:\"first out of output 1\" };\nvar msg2 = { payload:\"second out of output 1\" };\nvar msg3 = { payload:\"third out of output 1\" };\n//var msg4 = { payload:\"only message from output 2\" };\nreturn  [[ msg1, msg2, msg3 ]];",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "78632b35.2311c4"
            ]
        ]
    },
    {
        "id": "78632b35.2311c4",
        "type": "debug",
        "z": "921bc19d.c8733",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 560,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5f04503.e7ce7b",
        "type": "inject",
        "z": "921bc19d.c8733",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "d03bd138.41e9"
            ]
        ]
    },
    {
        "id": "d03bd138.41e9",
        "type": "function",
        "z": "921bc19d.c8733",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nreturn [msg, newMsg];",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1100,
        "wires": [
            [
                "49dc350e.77de7c"
            ]
        ]
    },
    {
        "id": "49dc350e.77de7c",
        "type": "debug",
        "z": "921bc19d.c8733",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 1100,
        "wires": []
    },
    {
        "id": "76abc3fe.083f8c",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "autoNext",
        "topic": "",
        "payload": "autoNext",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "f5523391.7689e"
            ]
        ]
    },
    {
        "id": "1f668153.24dc6f",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "manuel next",
        "topic": "",
        "payload": "next",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "f5523391.7689e"
            ]
        ]
    },
    {
        "id": "23c35700.adc98a",
        "type": "mqtt in",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "/Fahrzeug1/Meldungen",
        "qos": "2",
        "datatype": "auto",
        "broker": "c07be590.fcab68",
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3db44d9d.b24952",
        "type": "json",
        "z": "959dfc43.8dab5",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "1320db1f.4862e5"
            ]
        ]
    },
    {
        "id": "4e762c02.b0ba64",
        "type": "function",
        "z": "dd038d25.c9f7e",
        "name": "",
        "func": "var alles = global.get(\"Fahrzeug1Fertig\");\n\n/*var drehzahl = alles.payload.Motordrehzahl;\nvar drehzahl2 = drehzahl.toString();\n\nnode.status({text: drehzahl2});\nvar motordrehzahl = parseFloat(alles.payload.Motordrehzahl);\nnode.status({text:\"Wert \"+ motordrehzahl});\n*/\nreturn alles;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "dd35f6c2.a624d8"
            ]
        ]
    },
    {
        "id": "e3c3a1e.715756",
        "type": "inject",
        "z": "dd038d25.c9f7e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 60,
        "wires": [
            [
                "4e762c02.b0ba64"
            ]
        ]
    },
    {
        "id": "1320db1f.4862e5",
        "type": "mqtt out",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "/Fahrzeug1",
        "qos": "",
        "retain": "",
        "broker": "c07be590.fcab68",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "dd35f6c2.a624d8",
        "type": "json",
        "z": "dd038d25.c9f7e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "ba484141.32e41"
            ]
        ]
    },
    {
        "id": "ba484141.32e41",
        "type": "function",
        "z": "dd038d25.c9f7e",
        "name": "Werte fürs Cockpit",
        "func": "var msg1 = {payload: msg.payload.RPM};\n// Output 1\n\nvar msg2 = {payload: msg.payload.Speed};\n// Output 2\n\nvar msg3 = {payload: msg.payload.GasVol};\n// Output 3\n\nvar msg4 = {payload: msg.payload.KMTotal};\n//Output 4\n\nvar Fahrbereit = global.get(\"Fahrzeug1Bereit\");\nnode.status ({text: \"Fährt: \" + Fahrbereit});\n\nif (Fahrbereit === false) {\n    msg1 = {payload: \"0\"};\n    msg2 = {payload: \"0\"};\n    msg3 = {payload: \"0\"};\n}\nif (Fahrbereit === true) {\n    msg1 = msg1;\n    msg2 = msg2;\n    msg3 = msg3;\n}\n\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "dddf5e6b.772cd"
            ],
            [
                "686f15df.f58ecc"
            ],
            [
                "691e1c76.abe3a4"
            ],
            [
                "4b19bd7c.d3fac4"
            ]
        ]
    },
    {
        "id": "dddf5e6b.772cd",
        "type": "ui_gauge",
        "z": "dd038d25.c9f7e",
        "name": "",
        "group": "7ce5f44b.5e2bdc",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Drehzahl",
        "label": "rpm",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3000",
        "seg2": "4000",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "686f15df.f58ecc",
        "type": "ui_gauge",
        "z": "dd038d25.c9f7e",
        "name": "",
        "group": "7ce5f44b.5e2bdc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Geschwindigkeit",
        "label": "Km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#0006b3",
            "#0013e6",
            "#3c3aca"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "691e1c76.abe3a4",
        "type": "ui_gauge",
        "z": "dd038d25.c9f7e",
        "name": "",
        "group": "7ce5f44b.5e2bdc",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tankfüllung",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3aca52"
        ],
        "seg1": "10",
        "seg2": "50",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "77263afa.545104",
        "type": "ui_text",
        "z": "dd038d25.c9f7e",
        "group": "7ce5f44b.5e2bdc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nachrichten / Meldungen",
        "format": "☎{{msg.payload}}☎",
        "layout": "col-center",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "8f56b5c9.92b838",
        "type": "ui_text_input",
        "z": "dd038d25.c9f7e",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ae3148b0.53c498",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "15801cf2.2a1fd3"
            ]
        ]
    },
    {
        "id": "15801cf2.2a1fd3",
        "type": "mqtt out",
        "z": "dd038d25.c9f7e",
        "name": "/Fahrzeug1Nachricht",
        "topic": "/Fahrzeug1Nachricht",
        "qos": "",
        "retain": "",
        "broker": "c07be590.fcab68",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "d52b7196.18999",
        "type": "mqtt in",
        "z": "dd038d25.c9f7e",
        "name": "",
        "topic": "/Fahrzeug1Nachricht",
        "qos": "2",
        "datatype": "auto",
        "broker": "c07be590.fcab68",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "77263afa.545104"
            ]
        ]
    },
    {
        "id": "ba971072.f2cef",
        "type": "mqtt in",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "FMWVB71070VA31234",
        "qos": "2",
        "datatype": "auto",
        "broker": "c07be590.fcab68",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "cfd475c4.37f6f8"
            ]
        ]
    },
    {
        "id": "cfd475c4.37f6f8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "6232343f.5ab2dc"
            ]
        ]
    },
    {
        "id": "6232343f.5ab2dc",
        "type": "mqtt out",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "/Fahrzeug1Nachricht",
        "qos": "",
        "retain": "",
        "broker": "c07be590.fcab68",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "db5e1246.22398",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "Fahrzeug ID",
        "topic": "",
        "payload": "FMWVB71070VA31234",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "f7047022.516dd"
            ]
        ]
    },
    {
        "id": "f7047022.516dd",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "VIN setzen",
        "func": "global.set(\"Fahrzeug1ID\",msg.payload);\n//global.set(\"Fahrzeug1Error\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "4aa0975a.3683a8",
        "type": "ui_button",
        "z": "959dfc43.8dab5",
        "name": "",
        "group": "ae3148b0.53c498",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Errorcode zurücksetzen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "f7d1c609.8c78e8"
            ]
        ]
    },
    {
        "id": "32a544c6.90ebac",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "Startwerte",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "e9dbc3a9.225b5"
            ]
        ]
    },
    {
        "id": "e9dbc3a9.225b5",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Startwerte Kühlmittel / G-Kräfte / Insassen setzen",
        "func": "global.set(\"Fahrzeug1Kuehlmittel\",msg.payload);\nglobal.set(\"Fahrzeug1G\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "7d7c482b.048208",
        "type": "ui_button",
        "z": "959dfc43.8dab5",
        "name": "Airbag",
        "group": "ae3148b0.53c498",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Airbag",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 530,
        "y": 820,
        "wires": [
            [
                "6c968e6e.76afe"
            ]
        ]
    },
    {
        "id": "5fc5d5d.befa22c",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "",
        "func": "global.set(\"Fahrzeug1Airbag\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 820,
        "wires": [
            [
                "4a37b5a.51aff4c"
            ]
        ]
    },
    {
        "id": "6c968e6e.76afe",
        "type": "trigger",
        "z": "959dfc43.8dab5",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 690,
        "y": 820,
        "wires": [
            [
                "5fc5d5d.befa22c"
            ]
        ]
    },
    {
        "id": "63a33d56.eb6cb4",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "",
        "topic": "task2",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "e61b9266.b2b91"
            ]
        ]
    },
    {
        "id": "bbe7a336.0ee7",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        context.data.task1ts = msg.timestamp;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        context.data.task2ts = msg.timestamp;\n        msg = null;\n        break;\n    default:\n    msg = null;\n    break\n}\n//if (context.data.task1 != null && context.data.task2 != null ) {\nif (context.data.task1 === 1 && context.data.task2 === 1 ) {\n    var ratio = context.data.task1ts - context.data.task2ts;\nif (ratio < 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"test1\");\n    var neuerWert = Wert +5;\n    global.set(\"test1\", neuerWert);\n//    return {payload: \"+1\"};\n\n}\nif (ratio > 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"test1\");\n    var neuerWert = Wert -5;\n    global.set(\"test1\", neuerWert);\n//    return {payload: \"-1\"};\n}\n\n/*    context.data = null;\n    return {payload: ratio};\n    */\n}\nelse return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 740,
        "wires": [
            [
                "3661d9c9.5a9a26"
            ]
        ]
    },
    {
        "id": "3661d9c9.5a9a26",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "3a22d0be.c47b5",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "a0105819.a4b048",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "7d85590b.786618"
            ]
        ]
    },
    {
        "id": "9ddf4784.8a3dc8",
        "type": "change",
        "z": "ef746637.8e6288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload & \" \" & $now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "3a22d0be.c47b5"
            ]
        ]
    },
    {
        "id": "7d85590b.786618",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "\nmsg = {payload: msg.payload, topic: \"task1\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 520,
        "wires": [
            [
                "3a22d0be.c47b5"
            ]
        ]
    },
    {
        "id": "fd3f48ee.c5e168",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "\nmsg = {payload: msg.payload, topic: \"task1\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "bbe7a336.0ee7"
            ]
        ]
    },
    {
        "id": "e61b9266.b2b91",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "\nmsg = {payload: msg.payload, topic: \"task2\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 760,
        "wires": [
            [
                "bbe7a336.0ee7"
            ]
        ]
    },
    {
        "id": "6eb0f669.2d44d8",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1180,
        "y": 360,
        "wires": []
    },
    {
        "id": "31a4cb54.ebfc44",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "var msg = {payload: global.get(\"test1\")};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "6eb0f669.2d44d8"
            ]
        ]
    },
    {
        "id": "7fe4256c.cc6b3c",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "72cbc551.2e09bc"
            ]
        ]
    },
    {
        "id": "72cbc551.2e09bc",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "global.set(\"test1\", 0);",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9601ce51.1562",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "31a4cb54.ebfc44"
            ]
        ]
    },
    {
        "id": "5860ef6f.5fd7b",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "cd010746.1924c8",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "",
        "topic": "task1",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "fd3f48ee.c5e168"
            ]
        ]
    },
    {
        "id": "535db1e0.e767e",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "global.set(\"test1\",0);",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "a0f09733.db5018",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Drehgeber Kühlmittel",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"Pin1\":\n        context.data.task1 = msg.payload;\n        context.data.task1ts = msg.timestamp;\n        msg = null;\n        break;\n    case \"Pin2\":\n        context.data.task2 = msg.payload;\n        context.data.task2ts = msg.timestamp;\n        msg = null;\n        break;\n    default:\n    msg = null;\n    break\n}\n//if (context.data.task1 != null && context.data.task2 != null ) {\nif (context.data.task1 === 1 && context.data.task2 === 1 ) {\n    var ratio = context.data.task1ts - context.data.task2ts;\nif (ratio < 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"Fahrzeug1Kuehlmittel\");\n    var neuerWert = Wert +5;\n    global.set(\"Fahrzeug1Kuehlmittel\", neuerWert);\n//    return {payload: \"+1\"};\n\n}\nif (ratio > 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"Fahrzeug1Kuehlmittel\");\n    var neuerWert = Wert -5;\n    global.set(\"Fahrzeug1Kuehlmittel\", neuerWert);\n//    return {payload: \"-1\"};\n}\n\n/*    context.data = null;\n    return {payload: ratio};\n    */\n}\nelse return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "470281a.6ef5a8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "MSG Objekt zusammenbauen",
        "func": "\nmsg = {payload: msg.payload, topic: \"Pin1\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "a0f09733.db5018"
            ]
        ]
    },
    {
        "id": "5e3a543.7cf4bac",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "MSG Objekt zusammenbauen",
        "func": "\nmsg = {payload: msg.payload, topic: \"Pin2\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1440,
        "wires": [
            [
                "a0f09733.db5018"
            ]
        ]
    },
    {
        "id": "e1e3ecfe.a7cda",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "12",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "5e3a543.7cf4bac"
            ]
        ]
    },
    {
        "id": "49c0a06f.a128f",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Kühlmittel Reset (Auf 0 setzen)",
        "func": "global.set(\"Fahrzeug1Kuehlmittel\",0);",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "222de975.a673b6",
        "type": "comment",
        "z": "959dfc43.8dab5",
        "name": "Hardware: Drehgeber Kühlmittel",
        "info": "",
        "x": 180,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fce7285f.c92d18",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "35",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "x": 130,
        "y": 2260,
        "wires": [
            [
                "bbba24ce.f957f8"
            ]
        ]
    },
    {
        "id": "bbba24ce.f957f8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Driver",
        "func": "if (msg.payload === 1){\n    global.set(\"Fahrzeug1Driver\", \"true\")\n}\n\nif (msg.payload === 0){\n    global.set(\"Fahrzeug1Driver\", \"false\")\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "39e043d5.d8bc5c",
        "type": "comment",
        "z": "959dfc43.8dab5",
        "name": "Hardware: Schalter für Insassen",
        "info": "",
        "x": 210,
        "y": 2140,
        "wires": []
    },
    {
        "id": "8d2fc443.f31e78",
        "type": "comment",
        "z": "959dfc43.8dab5",
        "name": "Hardware: Airbagsensor",
        "info": "",
        "x": 180,
        "y": 2580,
        "wires": []
    },
    {
        "id": "3fe95690.a88d6a",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "16",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "x": 140,
        "y": 2620,
        "wires": [
            [
                "fc59b25a.2f41e"
            ]
        ]
    },
    {
        "id": "5cd24a3b.a5dd24",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Airbag",
        "func": "global.set(\"Fahrzeug1Airbag\", msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "3fa0ba28.7cd0c6",
        "type": "debug",
        "z": "959dfc43.8dab5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "b68d852e.a2ace8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "",
        "func": "// Einlesen der Werte aus CSV und speichern\n// in eigenen Variablen\nvar Zeit = [\"GPS Time\"];\nvar Geraetezeit = [\"Device Time\"];\nvar Longitude = msg.Longitude;\nvar Latitude = msg.Latitude;\nvar GPSGeschwindigkeit = [\"GPS Speed(km/h)\"];\nvar HorizDiluofPreci = msg[\"Horizontal Dilution of Precision\"];\nvar Altitude = msg[\"Altitude(m)\"];\nvar BearingV = msg.Bearing;\nvar Gravity_X = msg[\"Gravity X(G)\"];\nvar Gravity_Y = msg[\"Gravity Y(G)\"];\nvar Gravity_Z = msg[\"Gravity Z(G)\"];\nvar EGR = [\"EGR Commanded(%)\"];\nvar Lambda = msg[\"Commanded Equivalence Ratio(lambda)\"];\nvar CO = msg[\"CO₂ in g/km (Instantaneous)(g/km)\"];\nvar MassAirFlowRate = msg[\"Mass Air Flow Rate(g/s)\"];\nvar Geschwindigkeit = msg[\"GPS Speed(km/h)\"];\nvar TransmissionTemperature = [\"Transmission Temperature(Method 1)(°F)\"];\nvar GPSLatitude = [\"GPS Latitude(°)\"];\nvar GPSLongitude = [\"GPS Longitude(°)\"];\nvar KuehlmitteltemperaturF = msg[\"Engine Coolant Temperature(°F)\"];\nvar Motorlast = msg[\"Engine Load(%)\"];\nvar MotorlastAbsolut = [\"Engine Load(Absolute)(%)\"];\nvar o2Sensor1 = [\"O2 Sensor1 wide-range Voltage\"];\nvar o2Sensor2 = [\"O2 Sensor1 Equivalence Ratio\"];\nvar Gaspedalstellung = [\"Accelerator PedalPosition D(%)\"];\nvar RelativeGaspedalstellung = [\"Relative Accelerator Pedal Position(%)\"];\nvar Saugrohrdruck = [\"Intake Manifold Pressure(kpa)\"];\nvar Batteriespannung = msg[\"Voltage (Control Module)(V)\"];\nvar Benzinstand = msg[\"Fuel Level (From Engine ECU)(%)\"];\nvar ActualEngineTorque = [\"Actual engine % torque(%)\"];\nvar AnsauglufttemperaturF = msg[\"Intake Air Temperature(°F)\"];\nvar Kraftstoffdurchflussmenge = [\"Fuel flow rate/minute(cc/min)\"];\nvar Boost = msg[\"Turbo Boost & Vacuum Gauge(bar)\"];\nvar Motordrehzahl = msg[\"Engine RPM(rpm)\"];\nvar UmgebungstemperaturF = msg[\"Ambient air temp(°F)\"];\n////////////////////////////////////////////\n// Selbst eingefügte Werte\n////////////////////////////////////////////\nvar Insassen = global.get (\"Fahrzeug1Insassen\");\nvar Errorcode = global.get (\"Fahrzeug1Error\");\nvar Bereit = global.get (\"Fahrzeug1Bereit\");\nvar GravMod = global.get(\"Fahrzeug1G\");\nvar KuehlMod = global.get(\"Fahrzeug1Kuehlmittel\");\nvar Vin = global.get(\"Fahrzeug1ID\");\nvar Airbag = global.get(\"Fahrzeug1Airbag\");\n\n////////////////////////////////////////////\n// Umrechnungen\n////////////////////////////////////////////\n// Umrechnung Kühlmitteltemperatur von ° F in ° C\nvar Kuehlmitteltemperatur = (KuehlmitteltemperaturF - 32) / 1.8;\n// Umrechnung Ansauglufttemperatur von ° F in ° C\nvar Ansauglufttemperatur = (AnsauglufttemperaturF - 32) / 1.8;\n// Umrechnung Umgebungstemperatur von ° F in ° C\nvar Umgebungstemperatur = (UmgebungstemperaturF - 32) / 1.8;\n// Ersetzt die aus der CSV eingelesene Uhrzeit\n// durch die aktuelle Zeit\n////////////////////////////////////////////\n// Manuelle Änderung von Werten\n////////////////////////////////////////////\nvar Gravity_XMod = parseFloat(Gravity_X + GravMod);\nvar Gravity_YMod = Gravity_Y + GravMod;\nvar Gravity_ZMod = Gravity_Z + GravMod;\nvar KuehlmitteltemperaturMod = Kuehlmitteltemperatur + KuehlMod;\nvar ZeitAktuell = new Date();\n//msg.payload = ZeitAktuell;\n// Datumsformatierung Papa\nvar dtString= ZeitAktuell.getDate()+\".\"+\n                (ZeitAktuell.getMonth()<9?\"0\":\"\")+\n                (1+ZeitAktuell.getMonth())+\".\"+\n                ZeitAktuell.getFullYear()+\" \"+ \n                ZeitAktuell.getHours()+\":\"+\n                (ZeitAktuell)+\n                ZeitAktuell.getMinutes()+\":\"+\n                (ZeitAktuell.getSeconds()<10?\"0\":\"\")+\n                ZeitAktuell.getSeconds();\n\n////////////////////////////////////////////\n// Fertiges Objekt, was wieder \n// rausgeschickt wird\n////////////////////////////////////////////\n\nvar Fertig = {\n    \"payload\": {\n        \"Vin\": Vin,\n//        \"GPS Zeit\": dtString,\n        \"Longitude\": Longitude,\n        \"Latitude\": Latitude,\n//        \"Hoehe über Meeresspiegel\": Altitude,\n//        \"Horizontale Praezisionsverdünnung\": HorizDiluofPreci,\n//        \"Bearing / Lager\": parseFloat((BearingV).toFixed(2)),\n//        \"G Kraft in X Richtung\": parseFloat(Gravity_X.toFixed(2)),\n//        \"G Kraft in Y Richtung\": parseFloat(Gravity_Y.toFixed(2)),\n//        \"G Kraft in Z Richtung\": parseFloat(Gravity_Z.toFixed(2)),\n//        \"G Modifizierung\": GravMod,\n        \"GforceX\": Gravity_XMod.toFixed(2),\n//        \"G Kraft Y modifiziert\": parseFloat(Gravity_YMod.toFixed(2)),\n//        \"G Kraft Z modifiziert\": parseFloat(Gravity_ZMod.toFixed(2)),\n        \"Lambda\": Lambda,\n//        \"CO2 Ausstoss\": CO,\n        \"MAF\": parseFloat(MassAirFlowRate).toFixed(2),\n        \"Speed\": parseFloat(Geschwindigkeit).toFixed(0),\n//        \"Kuehlmitteltemperatur in C\": parseFloat(Kuehlmitteltemperatur.toFixed(2)),\n        \"Coolant\": KuehlMod,\n        \"OilTemp\": parseFloat(KuehlmitteltemperaturMod).toFixed(2),\n//        \"Motorlast Prozent\": parseFloat(Motorlast.toFixed(2)),\n//        \"Batteriespannung\": parseFloat(Batteriespannung.toFixed(2)),\n        \"GasVol\": parseFloat(Benzinstand).toFixed(2),\n        \"IntakeTemp\": parseFloat(Ansauglufttemperatur).toFixed(2),\n        \"RPM\": Motordrehzahl,\n        \"EnvTemp\": parseFloat(Umgebungstemperatur).toFixed(2),\n        \"Boost\": parseFloat(Boost).toFixed(2),\n        \"Errorcode\": Errorcode,\n        \"DPFpressure\":Altitude,\n        \"DPFtemp\":Altitude,\n        \"Driver\":true,\n        \"CoDriver\":false,\n        \"PassengerBL\":true,\n        \"PassengerBM\":false,\n        \"PassengerBR\":true,\n        \"Airbag\":Airbag\n    }\n}\nglobal.set(\"Fahrzeug1Fertig\",Fertig);\nstop = global.get(\"Fahrzeug1Airbag\");\nif (stop === true){\n    global.set(\"Fahrzeug1Bereit\", false);\n}\nreturn Fertig;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f4926d24.8d1a1",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "",
        "payload": "22763",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "5e7c2192.6cb5e"
            ]
        ]
    },
    {
        "id": "5e7c2192.6cb5e",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "",
        "func": "global.set(\"Fahrzeug1km\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "4b19bd7c.d3fac4",
        "type": "ui_text",
        "z": "dd038d25.c9f7e",
        "group": "7ce5f44b.5e2bdc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "KM Stand",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "5f7148a7.7abd18",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "10",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "470281a.6ef5a8"
            ]
        ]
    },
    {
        "id": "b77d925.ab3317",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "8",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "49c0a06f.a128f"
            ]
        ]
    },
    {
        "id": "954969cf.dabe48",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Umwandlung",
        "func": "// Einlesen der Werte aus CSV und speichern\n// in eigenen Variablen\n\nvar Zeit = [\"GPS Time\"];\nvar Geraetezeit = [\"Device Time\"];\nvar Longitude = msg.Longitude;\nvar Latitude = msg.Latitude;\nvar GPSGeschwindigkeit = [\"GPS Speed(km/h)\"];\nvar HorizDiluofPreci = msg[\"Horizontal Dilution of Precision\"];\nvar Altitude = msg[\"Altitude(m)\"];\nvar BearingV = msg.Bearing;\nvar Gravity_X = msg[\"Gravity X(G)\"];\nvar Gravity_Y = msg[\"Gravity Y(G)\"];\nvar Gravity_Z = msg[\"Gravity Z(G)\"];\nvar EGR = [\"EGR Commanded(%)\"];\nvar Lambda = msg[\"Commanded Equivalence Ratio(lambda)\"];\nvar CO = msg[\"CO₂ in g/km (Instantaneous)(g/km)\"];\nvar MassAirFlowRate = msg[\"Mass Air Flow Rate(g/s)\"];\nvar Geschwindigkeit = msg[\"Speed (OBD)(km/h)\"];\nvar TransmissionTemperature = [\"Transmission Temperature(Method 1)(°F)\"];\nvar GPSLatitude = [\"GPS Latitude(°)\"];\nvar GPSLongitude = [\"GPS Longitude(°)\"];\nvar KuehlmitteltemperaturF = msg[\"Engine Coolant Temperature(°F)\"];\nvar Motorlast = msg[\"Engine Load(%)\"];\nvar MotorlastAbsolut = [\"Engine Load(Absolute)(%)\"];\nvar o2Sensor1 = [\"O2 Sensor1 wide-range Voltage\"];\nvar o2Sensor2 = [\"O2 Sensor1 Equivalence Ratio\"];\nvar Gaspedalstellung = [\"Accelerator PedalPosition D(%)\"];\nvar RelativeGaspedalstellung = [\"Relative Accelerator Pedal Position(%)\"];\nvar Saugrohrdruck = [\"Intake Manifold Pressure(kpa)\"];\nvar Batteriespannung = msg[\"Voltage (Control Module)(V)\"];\nvar Benzinstand = msg[\"Fuel Level (From Engine ECU)(%)\"];\nvar ActualEngineTorque = [\"Actual engine % torque(%)\"];\nvar AnsauglufttemperaturF = msg[\"Intake Air Temperature(°F)\"];\nvar Kraftstoffdurchflussmenge = [\"Fuel flow rate/minute(cc/min)\"];\nvar Boost = [\"Turbo Boost & Vacuum Gauge(bar)\"];\nvar Motordrehzahl = msg[\"Engine RPM(rpm)\"];\nvar UmgebungstemperaturF = msg[\"Ambient air temp(°F)\"];\n\n\n////////////////////////////////////////////\n// Selbst eingefügte Werte\n////////////////////////////////////////////\n\n\nvar Errorcode = global.get (\"Fahrzeug1Error\");\nvar Bereit = global.get (\"Fahrzeug1Bereit\");\nvar GravMod = global.get(\"Fahrzeug1G\");\nvar KuehlMod = global.get(\"Fahrzeug1Kuehlmittel\");\nvar Vin = global.get(\"Fahrzeug1ID\");\nvar Airbag = global.get(\"Fahrzeug1Airbag\");\nvar KMGlobal= global.get(\"Fahrzeug1km\")\n\n\n////////////////////////////////////////////\n// Umrechnungen\n////////////////////////////////////////////\n\n// Umrechnung Kühlmitteltemperatur von ° F in ° C\nvar Kuehlmitteltemperatur = (KuehlmitteltemperaturF - 32) / 1.8;\n\n// Umrechnung Ansauglufttemperatur von ° F in ° C\nvar Ansauglufttemperatur = (AnsauglufttemperaturF - 32) / 1.8;\n\n// Umrechnung Umgebungstemperatur von ° F in ° C\nvar Umgebungstemperatur = (UmgebungstemperaturF - 32) / 1.8;\n\n// Ersetzt die aus der CSV eingelesene Uhrzeit\n// durch die aktuelle Zeit\n\n\n\n////////////////////////////////////////////\n// Manuelle Änderung von Werten\n////////////////////////////////////////////\n\nvar Gravity_XMod = parseFloat(Gravity_X) + GravMod;\nglobal.set(\"GforceX\", Gravity_XMod);\nvar Gravity_YMod = Gravity_Y + GravMod;\nglobal.set(\"GforceY\", Gravity_YMod);\nvar Gravity_ZMod = Gravity_Z + GravMod;\nglobal.set(\"GforceZ\",  Gravity_ZMod);\nvar KuehlmitteltemperaturMod = Kuehlmitteltemperatur + KuehlMod;\n node.status(Gravity_XMod);\n\nvar ZeitAktuell = new Date();\n//msg.payload = ZeitAktuell;\n\n// Datumsformatierung Papa\n\nvar dtString= ZeitAktuell.getDate()+\".\"+\n                (ZeitAktuell.getMonth()<9?\"0\":\"\")+\n                (1+ZeitAktuell.getMonth())+\".\"+\n                ZeitAktuell.getFullYear()+\" \"+ \n                ZeitAktuell.getHours()+\":\"+\n                (ZeitAktuell)+\n                ZeitAktuell.getMinutes()+\":\"+\n                (ZeitAktuell.getSeconds()<10?\"0\":\"\")+\n                ZeitAktuell.getSeconds();\n                \n// Kilometerstand\n\nvar KMTotal = KMGlobal + 5;\nglobal.set(\"Fahrzeug1km\", KMTotal);\n\n////////////////////////////////////////////\n// Fertiges Objekt, was wieder \n// rausgeschickt wird\n////////////////////////////////////////////\n\n\nvar Fertig = {\n    \"payload\": {\n        \"Vin\": Vin,\n//        \"GPS Zeit\": dtString,\n        \"Longitude\": Longitude,\n        \"Latitude\": Latitude,\n//        \"Hoehe über Meeresspiegel\": Altitude,\n//        \"Horizontale Praezisionsverdünnung\": HorizDiluofPreci,\n//        \"Bearing / Lager\": parseFloat((BearingV).toFixed(2)),\n//        \"G Kraft in X Richtung\": parseFloat(Gravity_X.toFixed(2)),\n//        \"G Kraft in Y Richtung\": parseFloat(Gravity_Y.toFixed(2)),\n//        \"G Kraft in Z Richtung\": parseFloat(Gravity_Z.toFixed(2)),\n//        \"G Modifizierung\": GravMod,\n        \"GforceX\": parseFloat(Gravity_XMod).toFixed(2),\n//        \"GforceY\": parseFloat(Gravity_YMod).toFixed(2),\n//        \"GforceZ\": parseFloat(Gravity_ZMod).toFixed(2),\n        \"Lambda\": Lambda,\n//        \"CO2 Ausstoss\": CO,\n        \"MAF\": parseFloat(MassAirFlowRate).toFixed(2),\n        \"Speed\": parseFloat(Geschwindigkeit).toFixed(0),\n//        \"Kuehlmitteltemperatur in C\": parseFloat(Kuehlmitteltemperatur.toFixed(2)),\n        \"Coolant\":KuehlmitteltemperaturMod.toFixed(2),\n        \"OilTemp\": parseFloat(KuehlmitteltemperaturMod.toFixed(2)),\n//        \"Motorlast Prozent\": parseFloat(Motorlast.toFixed(2)),\n//        \"Batteriespannung\": parseFloat(Batteriespannung.toFixed(2)),\n        \"GasVol\": parseFloat(Benzinstand).toFixed(2),\n        \"IntakeTemp\": parseFloat(Ansauglufttemperatur).toFixed(2),\n        \"RPM\": parseFloat(Motordrehzahl).toFixed(0),\n        \"EnvTemp\": parseFloat(Umgebungstemperatur.toFixed(2)),\n        \"TirePressure\": global.get(\"Fahrzeug1Reifendruck\"), // Wert über 3. Drehgeber\n        \"Boost\": 5,\n//        \"Anzahl Insassen\": Insassen,\n        \"Errorcode\": Errorcode,\n//        \"Fahrbereit\": Bereit,\n        \"DPFpressure\":Altitude,\n        \"DPFtemp\":Altitude,\n        \"Airbag\":Airbag,\n        \"Driver\":global.get(\"Fahrzeug1Driver\"),\n        \"CoDriver\": global.get(\"Fahrzeug1CoDriver\"),\n        \"PassengerBL\": global.get(\"Fahrzeug1BL\"),\n        \"PassengerBM\": global.get(\"Fahrzeug1BM\"),\n        \"PassengerBR\": global.get(\"Fahrzeug1BR\"),\n        \"KMTotal\": KMTotal\n    }\n}\nglobal.set(\"Fahrzeug1Fertig\",Fertig);\n\nstop = global.get(\"Fahrzeug1Airbag\");\nif (stop === true && (parseFloat(global.get(\"GforceX\")) > 3 || parseFloat(global.get(\"GforceY\")) > 3 || parseFloat(global.get(\"GforceZ\")) > 3)){\n    global.set(\"Fahrzeug1Bereit\", false);\n}\nreturn Fertig;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "3fa0ba28.7cd0c6",
                "3db44d9d.b24952"
            ]
        ]
    },
    {
        "id": "fb2cd08c.8e9c9",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 2200,
        "wires": [
            [
                "45eefbb1.069914"
            ]
        ]
    },
    {
        "id": "ad1e8f18.a7bf3",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "37",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 2320,
        "wires": [
            [
                "5defda0.9034728"
            ]
        ]
    },
    {
        "id": "5defda0.9034728",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "CoDriver",
        "func": "if (msg.payload === 1){\n    global.set(\"Fahrzeug1CoDriver\", \"true\")\n}\n\nif (msg.payload === 0){\n    global.set(\"Fahrzeug1CoDriver\", \"false\")\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "ecfcade8.1e21",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "29",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "ab766367.2d9f4"
            ]
        ]
    },
    {
        "id": "416ca66c.de02a8",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "31",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 2440,
        "wires": [
            [
                "72e2f5.efbe5d0c"
            ]
        ]
    },
    {
        "id": "6b899e20.42dc6",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "33",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 2500,
        "wires": [
            [
                "3c41108a.6cc5d"
            ]
        ]
    },
    {
        "id": "ab766367.2d9f4",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "PassengerBR",
        "func": "if (msg.payload === 1){\n    global.set(\"Fahrzeug1BR\", \"true\")\n}\n\nif (msg.payload === 0){\n    global.set(\"Fahrzeug1BR\", \"false\")\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "72e2f5.efbe5d0c",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "PassengerBM",
        "func": "if (msg.payload === 1){\n    global.set(\"Fahrzeug1BM\", \"true\")\n}\n\nif (msg.payload === 0){\n    global.set(\"Fahrzeug1BM\", \"false\")\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "3c41108a.6cc5d",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "PassengerBL",
        "func": "if (msg.payload === 1){\n    global.set(\"Fahrzeug1BL\", \"true\")\n}\n\nif (msg.payload === 0){\n    global.set(\"Fahrzeug1BL\", \"false\")\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "fc59b25a.2f41e",
        "type": "trigger",
        "z": "959dfc43.8dab5",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 330,
        "y": 2620,
        "wires": [
            [
                "5cd24a3b.a5dd24"
            ]
        ]
    },
    {
        "id": "a62f33e.20d37d",
        "type": "comment",
        "z": "959dfc43.8dab5",
        "name": "Hardware: Errorcodes",
        "info": "",
        "x": 180,
        "y": 2700,
        "wires": []
    },
    {
        "id": "901417f5.b73888",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "26",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 2820,
        "wires": [
            [
                "5ccc2862.5304c8"
            ]
        ]
    },
    {
        "id": "66833052.7c4a6",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "32",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 2880,
        "wires": [
            [
                "11332495.a2cf5b"
            ]
        ]
    },
    {
        "id": "5ccc2862.5304c8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Error 1",
        "func": "global.set(\"Fahrzeug1Error\",\"Error1\");",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2820,
        "wires": [
            []
        ]
    },
    {
        "id": "11332495.a2cf5b",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Error 2",
        "func": "global.set(\"Fahrzeug1Error\",\"Error 2\");",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 2880,
        "wires": [
            []
        ]
    },
    {
        "id": "23361d39.358002",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1660,
        "wires": [
            [
                "3229b898.b704d8"
            ]
        ]
    },
    {
        "id": "3229b898.b704d8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Reifendruck",
        "func": "global.set(\"Fahrzeug1Reifendruck\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "b9ec3c7c.f0761",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Drehgeber Kühlmittel",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"Pin1\":\n        context.data.task1 = msg.payload;\n        context.data.task1ts = msg.timestamp;\n        msg = null;\n        break;\n    case \"Pin2\":\n        context.data.task2 = msg.payload;\n        context.data.task2ts = msg.timestamp;\n        msg = null;\n        break;\n    default:\n    msg = null;\n    break\n}\n//if (context.data.task1 != null && context.data.task2 != null ) {\nif (context.data.task1 === 1 && context.data.task2 === 1 ) {\n    var ratio = context.data.task1ts - context.data.task2ts;\nif (ratio < 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"Fahrzeug1Reifendruck\");\n    var neuerWert = Wert +50;\n    global.set(\"Fahrzeug1Reifendruck\", neuerWert);\n//    return {payload: \"+1\"};\n\n}\nif (ratio > 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"Fahrzeug1Reifendruck\");\n    var neuerWert = Wert -50;\n    global.set(\"Fahrzeug1Reifendruck\", neuerWert);\n//    return {payload: \"-1\"};\n}\n\n/*    context.data = null;\n    return {payload: ratio};\n    */\n}\nelse return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "d2d45d0.da437a",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "MSG Objekt zusammenbauen",
        "func": "\nmsg = {payload: msg.payload, topic: \"Pin1\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1720,
        "wires": [
            [
                "b9ec3c7c.f0761"
            ]
        ]
    },
    {
        "id": "16cf8f2f.016641",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "MSG Objekt zusammenbauen",
        "func": "\nmsg = {payload: msg.payload, topic: \"Pin2\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1780,
        "wires": [
            [
                "b9ec3c7c.f0761"
            ]
        ]
    },
    {
        "id": "2e80a818.499f28",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "15",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 1840,
        "wires": [
            [
                "16cf8f2f.016641"
            ]
        ]
    },
    {
        "id": "ba3e1671.0ba188",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Reifendruck Reset (Auf 2.2 setzen)",
        "func": "global.set(\"Fahrzeug1Reifendruck\",250);",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "7d190023.3142f",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "13",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 1780,
        "wires": [
            [
                "d2d45d0.da437a"
            ]
        ]
    },
    {
        "id": "891c63a2.7d068",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "11",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "ba3e1671.0ba188"
            ]
        ]
    },
    {
        "id": "4cc36fbc.bd0b6",
        "type": "comment",
        "z": "959dfc43.8dab5",
        "name": "Hardware: Drehgeber Reifendruck",
        "info": "",
        "x": 210,
        "y": 1600,
        "wires": []
    },
    {
        "id": "964fb1f0.84438",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "Drehgeber G Kräfte",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"Pin1\":\n        context.data.task1 = msg.payload;\n        context.data.task1ts = msg.timestamp;\n        msg = null;\n        break;\n    case \"Pin2\":\n        context.data.task2 = msg.payload;\n        context.data.task2ts = msg.timestamp;\n        msg = null;\n        break;\n    default:\n    msg = null;\n    break\n}\n//if (context.data.task1 != null && context.data.task2 != null ) {\nif (context.data.task1 === 1 && context.data.task2 === 1 ) {\n    var ratio = context.data.task1ts - context.data.task2ts;\nif (ratio < 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"Fahrzeug1G\");\n    var neuerWert = Wert +3;\n    global.set(\"Fahrzeug1G\", neuerWert);\n//    return {payload: \"+1\"};\n\n}\nif (ratio > 0){\n    context.data.task1 = null;\n    context.data.task2 = null;\n    var Wert = global.get(\"Fahrzeug1G\");\n    var neuerWert = Wert -3;\n    global.set(\"Fahrzeug1G\", neuerWert);\n//    return {payload: \"-1\"};\n}\n\n/*    context.data = null;\n    return {payload: ratio};\n    */\n}\nelse return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "247829fd.75fcb6",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "MSG Objekt zusammenbauen",
        "func": "\nmsg = {payload: msg.payload, topic: \"Pin1\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1940,
        "wires": [
            [
                "964fb1f0.84438"
            ]
        ]
    },
    {
        "id": "856aa83d.2ed6a8",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "MSG Objekt zusammenbauen",
        "func": "\nmsg = {payload: msg.payload, topic: \"Pin2\", timestamp : Date.now()};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 2000,
        "wires": [
            [
                "964fb1f0.84438"
            ]
        ]
    },
    {
        "id": "559674cd.bac36c",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "40",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "x": 140,
        "y": 2060,
        "wires": [
            [
                "856aa83d.2ed6a8",
                "95da3b88.9ac3a8"
            ]
        ]
    },
    {
        "id": "67eca431.2f918c",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "G Kräfte Reset (Auf 0 setzen)",
        "func": "global.set(\"Fahrzeug1G\",0);",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "6f49637e.d5c88c",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "38",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "x": 140,
        "y": 2000,
        "wires": [
            [
                "247829fd.75fcb6",
                "95da3b88.9ac3a8"
            ]
        ]
    },
    {
        "id": "fe2bae7.1a1145",
        "type": "rpi-gpio in",
        "z": "959dfc43.8dab5",
        "name": "",
        "pin": "36",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "x": 140,
        "y": 1940,
        "wires": [
            [
                "67eca431.2f918c",
                "95da3b88.9ac3a8"
            ]
        ]
    },
    {
        "id": "95da3b88.9ac3a8",
        "type": "debug",
        "z": "959dfc43.8dab5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 1920,
        "wires": []
    }
]