Projektrahmen/Teilprojektspezifisches/Simulation/Hardwaretests.txt
[
    {
        "id": "ef746637.8e6288",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf6b21ce.48f08",
        "type": "file in",
        "z": "ef746637.8e6288",
        "name": "",
        "filename": "/home/pi/Desktop/trackLog.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "3be1b4b3.1935fc"
            ]
        ]
    },
    {
        "id": "3be1b4b3.1935fc",
        "type": "csv",
        "z": "ef746637.8e6288",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "8f736252.aad2a"
            ]
        ]
    },
    {
        "id": "e9a14a7.01426b8",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "d49550b1.19bdb",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "cf6b21ce.48f08"
            ]
        ]
    },
    {
        "id": "8f736252.aad2a",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "\nvar ausgabe = {payload: msg.payload[0]};\nreturn ausgabe;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "e9a14a7.01426b8"
            ]
        ]
    },
    {
        "id": "c1251668.82bf38",
        "type": "rpi-gpio in",
        "z": "ef746637.8e6288",
        "name": "",
        "pin": "38",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "877b9e12.4ba3f"
            ]
        ]
    },
    {
        "id": "877b9e12.4ba3f",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "d7359f8a.f1c8d",
        "type": "LCD20x4-I2C",
        "z": "ef746637.8e6288",
        "name": "",
        "speed": "3",
        "size": "20x4",
        "address": "0x27",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "6fe0d818.8f3b38",
        "type": "inject",
        "z": "ef746637.8e6288",
        "name": "test",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "ca59a084.d9234"
            ]
        ]
    },
    {
        "id": "ca59a084.d9234",
        "type": "function",
        "z": "ef746637.8e6288",
        "name": "",
        "func": "msg.payload = {\n    msgs: [\n        {\n            msg: \"Zeile 1\",\n            pos: 1,\n            center: true\n        },\n        {\n            msg: \"Zeile 2\",\n            pos: 1,\n            center: false\n        }]}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "d7359f8a.f1c8d",
                "1acf4048.53c62"
            ]
        ]
    },
    {
        "id": "f61e8827.05be48",
        "type": "comment",
        "z": "ef746637.8e6288",
        "name": "I2C LCD",
        "info": "Test fürs LCD",
        "x": 160,
        "y": 200,
        "wires": []
    },
    {
        "id": "90d42870.f1dbf8",
        "type": "comment",
        "z": "ef746637.8e6288",
        "name": "Taster",
        "info": "Test fürn Taster",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "6e61e98c.d40c68",
        "type": "comment",
        "z": "ef746637.8e6288",
        "name": "CSV einlesen",
        "info": "CSV wird eingelesen (liegt am Desktop)\n",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "1acf4048.53c62",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "23edad38.83c812",
        "type": "rpi-gpio in",
        "z": "ef746637.8e6288",
        "name": "",
        "pin": "23",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 90,
        "y": 680,
        "wires": [
            [
                "dd9fc082.0a214"
            ]
        ]
    },
    {
        "id": "dd9fc082.0a214",
        "type": "debug",
        "z": "ef746637.8e6288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 720,
        "wires": []
    },
    {
        "id": "e7cee32a.74f82",
        "type": "rpi-gpio in",
        "z": "ef746637.8e6288",
        "name": "",
        "pin": "8",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 90,
        "y": 740,
        "wires": [
            [
                "dd9fc082.0a214",
                "b0544839.aa5368"
            ]
        ]
    },
    {
        "id": "c96435a2.efd888",
        "type": "rpi-gpio in",
        "z": "ef746637.8e6288",
        "name": "",
        "pin": "10",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "dd9fc082.0a214",
                "b0544839.aa5368"
            ]
        ]
    },
    {
        "id": "b0544839.aa5368",
        "type": "ui_chart",
        "z": "ef746637.8e6288",
        "name": "",
        "group": "ae3148b0.53c498",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 320,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ae3148b0.53c498",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "acc64fde.6c13c",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "acc64fde.6c13c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]