Projektrahmen/Teilprojektspezifisches/Simulation/Simulation_19.01.2020.txt
[
    {
        "id": "959dfc43.8dab5",
        "type": "tab",
        "label": "Simulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8eaa9ab.3e9188",
        "type": "file in",
        "z": "959dfc43.8dab5",
        "name": "",
        "filename": "/home/pi/Desktop/trackLog1.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "eabd056e.f2be68"
            ]
        ]
    },
    {
        "id": "f0cdbb44.46a5c8",
        "type": "inject",
        "z": "959dfc43.8dab5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 660,
        "y": 20,
        "wires": [
            [
                "c8eaa9ab.3e9188"
            ]
        ]
    },
    {
        "id": "14664ddb.207ee2",
        "type": "split",
        "z": "959dfc43.8dab5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 700,
        "y": 80,
        "wires": [
            [
                "958fc08b.939b3"
            ]
        ]
    },
    {
        "id": "958fc08b.939b3",
        "type": "delay",
        "z": "959dfc43.8dab5",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 900,
        "y": 80,
        "wires": [
            [
                "954969cf.dabe48",
                "9b766c2f.2334b"
            ]
        ]
    },
    {
        "id": "954969cf.dabe48",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "",
        "func": "// var test = msg.payload[\"GPS Time\"];\nvar Zeit = msg.payload[\"GPS Time\"];\nvar Geraetezeit = msg.payload[\"Device Time\"];\nvar Longitude = msg.payload.Longitude;\nvar Latitude = msg.payload.Latitude;\nvar GPSGeschwindigkeit = msg.payload[\"GPS Speed(km/h)\"];\nvar HorizDiluofPreci = msg.payload[\"Horizontal Dilution of Precision\"];\nvar Altitude = msg.payload[\"Altitude(m)\"];\nvar Bearing = msg.payload.Bearing;\nvar Gravity_X = msg.payload[\"Gravity X(G)\"];\nvar Gravity_Y = msg.payload[\"Gravity Y(G)\"];\nvar Gravity_Z = msg.payload[\"Gravity Z(G)\"];\nvar EGR = msg.payload[\"EGR Commanded(%)\"];\nvar Lambda = msg.payload[\"Commanded Equivalence Ratio(lambda)\"];\nvar CO = msg.payload[\"CO₂ in g/km (Instantaneous)(g/km)\"];\nvar MassAirFlowRate = msg.payload[\"Mass Air Flow Rate(g/s)\"];\nvar Geschwindigkeit = msg.payload[\"Speed (OBD)(km/h)\"];\nvar TransmissionTemperature = msg.payload[\"Transmission Temperature(Method 1)(°F)\"];\nvar GPSLatitude = msg.payload[\"GPS Latitude(°)\"];\nvar GPSLongitude = msg.payload[\"GPS Longitude(°)\"];\nvar KuehlmitteltemperaturF = msg.payload[\"Engine Coolant Temperature(°F)\"];\nvar Motorlast = msg.payload[\"Engine Load(%)\"];\nvar MotorlastAbsolut = msg.payload[\"Engine Load(Absolute)(%)\"];\nvar o2Sensor1 = msg.payload[\"O2 Sensor1 wide-range Voltage\"];\nvar o2Sensor2 = msg.payload[\"O2 Sensor1 Equivalence Ratio\"];\nvar Gaspedalstellung = msg.payload[\"Accelerator PedalPosition D(%)\"];\nvar RelativeGaspedalstellung = msg.payload[\"Relative Accelerator Pedal Position(%)\"];\nvar Saugrohrdruck = msg.payload[\"Intake Manifold Pressure(kpa)\"];\nvar Batteriespannung = msg.payload[\"Voltage (Control Module)(V)\"];\nvar Benzinstand = msg.payload[\"Fuel Level (From Engine ECU)(%)\"];\nvar ActualEngineTorque = msg.payload[\"Actual engine % torque(%)\"];\nvar Ansauglufttemperatur = msg.payload[\"Intake Air Temperature(°F)\"];\nvar Kraftstoffdurchflussmenge = msg.payload[\"Fuel flow rate/minute(cc/min)\"];\nvar Boost = msg.payload[\"Turbo Boost & Vacuum Gauge(bar)\"];\nvar Motordrehzahl = msg.payload[\"Engine RPM(rpm)\"];\nvar UmgebungstemperaturF = msg.payload[\"Ambient air temp(°F)\"];\n\nvar ZeitAktuell = new Date();\nmsg.payload = ZeitAktuell;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 140,
        "wires": [
            [
                "9b766c2f.2334b"
            ]
        ]
    },
    {
        "id": "9b766c2f.2334b",
        "type": "debug",
        "z": "959dfc43.8dab5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "5d33542d.32f7ac",
        "type": "function",
        "z": "959dfc43.8dab5",
        "name": "",
        "func": "var test = msg.payload[\"GPS Time\"];\nmsg.payload = test;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "eabd056e.f2be68",
        "type": "csv",
        "z": "959dfc43.8dab5",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 560,
        "y": 80,
        "wires": [
            [
                "14664ddb.207ee2"
            ]
        ]
    }
]